@font-face {
    font-family: 'CMUN-Roman';
    src: url('./second/cmunrm.ttf') format('truetype');
}

@font-face {
    font-family: 'CMUN-Bold';
    src: url('./second/cmunbx.ttf') format('truetype');
}

@font-face {
    font-family: 'CMUN-Italic';
    src: url('./second/cmunbi.ttf') format('truetype');
}

@font-face {
    font-family: 'CMUN-BoldItalic';
    src: url('./second/cmunti.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    src: url('./standard/Fira_Code/FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./standard/Fira_Code/FiraCode-Bold.ttf') format('truetype');
    font-weight: bold;
}







body {
    font-family: 'CMUN-Roman', 'CMUN-Bold', 'CMUN-Italic', 'CMUN-BoldItalic', 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
    font-size: large;
    line-height: 1.5;
    background: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Styles for the header */
.header {
    background-color: #f8f8f8;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #e7e7e7;
}

.header h1 {
    margin: 0;
    font-size: 1.5em;
}

.header nav {
    display: flex;
    justify-content: flex-end;
}

.header a {
    color: #4183C4;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1em;
    padding: 5px 10px;
    position: relative; /* Required for absolute positioning of pseudo-elements */
    overflow: hidden; /* Ensures the pseudo-element is clipped to the link's dimensions */
    transition: color 0.3s; /* Transition for the color */
}

.header a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #4183C4;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header a:not(#themeSwitcher):hover::after {
    width: 100%; /* Full width of the link */
}

.header a:hover {
    text-decoration: none; /* Ensure the default underline doesn't show */
}

#themeSwitcher {
    color: black; 
    border: 1px solid black;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

#themeSwitcher:hover {
    background-color: lightgrey;
}



/* Styles for the content */
#content, #pageContent {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    margin: 0 auto;
    padding: 20px 40px;
    max-width: calc(100% - 80px);
}

@media only screen and (min-width: 1400px) {
    #content, #pageContent {
        max-width: 1024px;
    }
}

@media only screen and (min-width: 1800px) {
    #content, #pageContent {
        max-width: 1200px;
    }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, table, hr {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    color: #4183C4; /* This sets the link color to the specified blue */
}

a:hover {
    color: #345f7c; /* Darker shade for hover state, optional */
    text-decoration: underline; /* If you want to maintain underlining on hover */
}


blockquote {
    border-left: 4px solid #777;
    padding: 0 15px;
    color: #666;
}

/*Bulletpoints*/

ul, ol {
    padding-left: 20px;
}

/* Style for the main bullet points */
ul {
    list-style-type: disc; /* solid circles */
  }
  
/* Style for the nested bullet points */
ul ul {
list-style-type: circle; /* hollow circles */
}
    

/*Codeblocks*/
/* Code and tt elements no longer have a distinct background or border */
code, tt {
    background-color: transparent;
    padding: 0;
    border: none;
    font-family: 'Fira Code', monospace;
}
/*Block*/
pre {
    background-color: #222;
    border: 1px solid #000; /* Adds a colored border to the left for a modern look, similar to blockquote */
    padding: 1em;
    overflow: auto; /* Keeps the scrollbar for overflow */
    font-family: 'Fira Code', monospace;
    color: #fff; /* Text color similar to body for better consistency */
    line-height: 1.6; /* Matches the line height of your body text */
    margin: 0.8em 0; /* Spacing above and below the code blocks */
    font-size: 16px;
    box-shadow: 0 0 1px #333;
}

.keyword { color: #795da3; font-weight: bold; }
.string { color: #df5000; }


/* Table styling */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #333;
    padding: 5px;
    
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}






/* Adjustments for ordered list (ol) to ensure proper numbering */
ol {
    list-style-type: decimal; /* Default ordered list style */
    margin-left: 20px; /* Adjust according to your layout */
}

ol ol {
    list-style-type: lower-alpha; /* Use letters for nested ordered lists */
}

/* Further adjustments for nested unordered lists within an ordered list */
ol ul {
    list-style-type: disc; /* solid circles for unordered lists */
}

ol ul ul {
    list-style-type: circle; /* hollow circles for nested unordered lists */
}


/* print without header */
@media print {
    body, html {
        width: 100%;
    }

    .header {
        display: none; /* Hides parts of the page that shouldn't be printed */
    }

    nav {
        display: none;
    }

    .content {
        width: 100%;
        /*font-size: 12pt; larger text when printing */
    }

}

.nav-button {
    color: black;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 20px;
    font-size: 1em;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
    text-align: center;
    line-height: normal;
    display: inline-block;
    border-color: black;
    font-family: 'CMUN-Roman', 'CMUN-Bold', 'CMUN-Italic', 'CMUN-BoldItalic', 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
}


.nav-button:hover {
    color: black;
    text-decoration: none;
    background-color: lightgrey;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff; /* Dark background color */
    border: 1px solid #000; /* Darker border color */
    display: inline-block;
    vertical-align: middle;
    width: 20px; /* Width of the checkbox */
    height: 20px; /* Height of the checkbox */
    position: relative; /* Relative positioning for the checkmark */
}

/* Custom checkmark */
input[type="checkbox"]:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

/* Display the checkmark when checkbox is checked */
input[type="checkbox"]:checked:after {
    opacity: 1;
}

