@font-face {
    font-family: 'CMUN-Roman';
    src: url('./second/cmunrm.ttf') format('truetype');
}

@font-face {
    font-family: 'CMUN-Bold';
    src: url('./second/cmunbx.ttf') format('truetype');
}

@font-face {
    font-family: 'CMUN-Italic';
    src: url('./second/cmunbi.ttf') format('truetype');
}

@font-face {
    font-family: 'CMUN-BoldItalic';
    src: url('./second/cmunti.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    src: url('./standard/Fira_Code/FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./standard/Fira_Code/FiraCode-Bold.ttf') format('truetype');
    font-weight: bold;
}







body {
    font-family: 'CMUN-Roman', 'CMUN-Bold', 'CMUN-Italic', 'CMUN-BoldItalic', 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
    font-size: medium;
    line-height: 1.2;
    background: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Styles for the header */
.header {
    background-color: #f8f8f8;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #e7e7e7;
}

.header h1 {
    margin: 0;
    font-size: 1.5em;
}

.header nav {
    display: flex;
    justify-content: flex-end;
}

.header a {
    color: #4183C4;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1em;
    padding: 5px 10px;
    position: relative; /* Required for absolute positioning of pseudo-elements */
    overflow: hidden; /* Ensures the pseudo-element is clipped to the link's dimensions */
    transition: color 0.3s; /* Transition for the color */
}

.header a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #4183C4;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header a:not(#themeSwitcher):hover::after {
    width: 100%; /* Full width of the link */
}

.header a:hover {
    text-decoration: none; /* Ensure the default underline doesn't show */
}

#themeSwitcher {
    color: black; 
    border: 1px solid black;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

#themeSwitcher:hover {
    background-color: lightgrey;
}


/* This will hide the nav links on small screens and show a hamburger icon instead */
@media (max-width: 768px) {
    .header nav {
      flex-direction: column;
      align-items: flex-start;
      display: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }
    
    .header nav.active {
      display: flex;
      max-height: 20em;
    }
  
    .nav-toggle {
      display: block;
      cursor: pointer;
    }
  
    .nav-toggle:before {
      content: "\2630"; /* Unicode character for hamburger icon */
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  
  .nav-button {
    color: black;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 20px;
    font-size: 1em;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
    text-align: center;
    line-height: normal;
    display: inline-block;
    border-color: black;
    font-family: 'CMUN-Roman', 'CMUN-Bold', 'CMUN-Italic', 'CMUN-BoldItalic', 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
}


.nav-button:hover {
    color: black;
    text-decoration: none;
    background-color: lightgrey;
}


/* This will hide the nav links on small screens and show a hamburger icon instead */
@media (max-width: 768px) {
    .header nav {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        max-height: 0; /* Start with max-height 0 */
        overflow: hidden; /* Hide the overflowing content */
        transition: max-height 0.2s; /* Animate max-height for a smooth transition */
        width: 100%; /* Make nav full width */
        position:absolute; /* Position it on top of everything else */
        top: 4.8rem; /* Directly below the header */
        left: 0px;
        background-color: #f8f8f8; /* Match the header background color */
 /*       border-bottom: 3px solid #ddd; /* Add a black line at the bottom */
    }
    
    .header nav.active {
        max-height: 20em; /* This value should be greater than the total height of all nav items */
        padding-bottom: 1rem; /* Add padding at the bottom of the menu */
        border-bottom: 2px solid #ddd;
        width: 100%;
    }
  
    .nav-toggle {
        display: block;
        cursor: pointer;
        position: relative; /* Position the hamburger icon relative to header */
        z-index: 1000; /* Ensure the icon is above the expanded menu */
    }
  
    .nav-toggle:before {
        content: "\2630"; /* Unicode character for hamburger icon */
        font-size: 2rem;
        line-height: 2rem;
    }

    /* Style adjustments for the nav links */
    .header a {
        padding: 1em 0em 1em 0em;
        width: 90%;
        box-sizing: border-box; /* Include padding and border in width */
        display: block; /* Make the anchor tags behave like block elements */
        text-align: center; /* Center the text */
        border-bottom: 1px solid #e7e7e7; /* Add a border to separate items */
    }
    .header a#themeSwitcher {
        margin-bottom: 1em; /* Adjust as needed for desired space */
        padding: 0.5em 0 0.5em 0;
    }

    .nav-button {
        margin-left: 20px;
        font-size: 1em;
        width: 90%;
        box-sizing: border-box; /* Include padding and border in width */
        padding: 0.7em 0 0.5em 0;
    }

}
  





/* Styles for the content */
#content, #pageContent {
    border: 2px solid #000;
    margin: 0 auto;
    padding: 20px 40px;
    max-width: calc(100% - 40%);
}

@media only screen and (max-width: 1400px) {
    #content, #pageContent {
        margin: 0 auto; 
        max-width: calc(100% - 23%);
        box-sizing: border-box; /* Include padding and border in width */
    }
}

@media only screen and (max-width: 1200px) {
    #content, #pageContent {
        margin: 0 auto; 
        max-width: calc(100% - 20%);
        box-sizing: border-box; /* Include padding and border in width */
    }
}
@media only screen and (max-width: 1000px) {
    #content, #pageContent {
        margin: 0 auto; 
        max-width: calc(100% - 17%);
        box-sizing: border-box; /* Include padding and border in width */
    }
}
@media only screen and (max-width: 800px) {
    #content, #pageContent {
        margin: 0 auto; 
        max-width: calc(100% - 10%);
        box-sizing: border-box; /* Include padding and border in width */
    }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, table, hr {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 1rem;
    margin-bottom: 0.66rem;
}

a {
    color: #4183C4; /* This sets the link color to the specified blue */
}

a:hover {
    color: #345f7c; /* Darker shade for hover state, optional */
    text-decoration: underline; /* If you want to maintain underlining on hover */
}


blockquote {
    border-left: 4px solid #777;
    padding: 0 15px;
    color: #666;
}

/*Bulletpoints*/

ul, ol {
    padding-left: 20px;
}

/* Style for the main bullet points */
ul {
    list-style-type: disc; /* solid circles */
  }
  
/* Style for the nested bullet points */
ul ul {
    list-style-type: circle; /* hollow circles */
    margin-top: -0.01em;
}
    

/*Codeblocks*/
/* Code and tt elements no longer have a distinct background or border */
code, tt {
    background-color: transparent;
    padding: 0;
    border: none;
    font-family: 'Fira Code', monospace;
}
/*Block*/
pre {
    background-color: #222;
    border: 1px solid #000; /* Adds a colored border to the left for a modern look, similar to blockquote */
    padding: 1em;
    overflow: auto; /* Keeps the scrollbar for overflow */
    font-family: 'Fira Code', monospace;
    color: #fff; /* Text color similar to body for better consistency */
    line-height: 1.6; /* Matches the line height of your body text */
    margin: 0.8em 0; /* Spacing above and below the code blocks */
    font-size: 16px;
    box-shadow: 0 0 1px #333;
}

.keyword { color: #795da3; font-weight: bold; }
.string { color: #df5000; }


/* Table styling */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #333;
    padding: 5px;
    
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}






/* Adjustments for ordered list (ol) to ensure proper numbering */
ol {
    list-style-type: decimal; /* Default ordered list style */
    margin-left: 20px; /* Adjust according to your layout */
}

ol ol {
    list-style-type: lower-alpha; /* Use letters for nested ordered lists */
}

/* Further adjustments for nested unordered lists within an ordered list */
ol ul {
    list-style-type: disc; /* solid circles for unordered lists */
}

ol ul ul {
    list-style-type: circle; /* hollow circles for nested unordered lists */
}


/* print without header */
@media print {
    body, html {
        width: 100%;
    }

    .header {
        display: none; /* Hides parts of the page that shouldn't be printed */
    }

    nav {
        display: none;
    }

    .content {
        width: 100%;
        /*font-size: 12pt; larger text when printing */
    }

    #content, #pageContent {
        margin: 0 auto; 
        max-width: calc(100% - 0%);
        box-sizing: border-box; /* Include padding and border in width */
    }

}


input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff; /* Dark background color */
    border: 1px solid #000; /* Darker border color */
    display: inline-block;
    vertical-align: middle;
    width: 20px; /* Width of the checkbox */
    height: 20px; /* Height of the checkbox */
    position: relative; /* Relative positioning for the checkmark */
}

/* Custom checkmark */
input[type="checkbox"]:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

/* Display the checkmark when checkbox is checked */
input[type="checkbox"]:checked:after {
    opacity: 1;
}

